<!DOCTYPE html>
<html lang="en" class="h-100" ng-app="SuDaVi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      Sudavi
    </title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/tachyons.css">

    <script src="//code.angularjs.org/latest/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="sudaviservice.js"></script>
  </head>
  <body class="bg-base bg-center pa1 h-100">
    <div class="cf mw6 center">
      <h1 class="f1 serif normal tc white mt5 mb0">Sudavi</h1>
      <h2 class="f3 tc normal white nt2 mb5">You really think you're smart?</h2>

      <div class="fl w-100 pa1">
        <div ng-controller="mainController">
          <div ng-repeat="row in template track by $index">
            <div class="fl w-third pa1">
              <div ng-repeat="col in row track by $index">
                <div class="fl w-third pa1">
                  <div class="tc">
                    <div ng-if="col.n != -1">
                      <input type="text" ng-class="template.indexOf(row) % 2 ? 'bg-white-70' : 'bg-white'" class="b--none mw-100 pv2 pv3-ns tc ttu" disabled maxlength="1" value="{{col.n}}" id="element[{{col.x}}][{{col.y}}]" x="{{col.x}}" y="{{col.y}}" ng-keyup="onKeyNumber($event)">
                    </div>
                    <div ng-if="col.n == -1">
                      <input type="text" ng-class="template.indexOf(row) % 2 ? 'bg-white-70' : 'bg-white'" class="b--none mw-100 pv2 pv3-ns tc ttu" maxlength="1" id="element[{{col.x}}][{{col.y}}]" x="{{col.x}}" y="{{col.y}}" ng-keyup="onKeyNumber($event)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cf mw7 center">
      <div class="fl w-100 pa1 bg-white-70 br2 mt5">
        <div class="fl w-50 pa1">
          <div class="pv1 f4">
            Mistakes: 5
          </div>
          <div class="pv1 f6">
            Oh god...
          </div>
        </div>
        <div class="fl w-50 pa1">
          <div class="tr">
            <a href="#0" class="btn btn--green tc">
              Solution
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="cf mw7 center mt3 mb6 o-50">
      <div class="tc">
        Made with	&hearts; by Suji, Daniel and Vincent
      </div>
    </div>
  </body>
</html>
